<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu" class="red">
    My name is: {{ name }}
</div>
<div id="main_content">
    <p>
        <span class="cursive">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Tincidunt nunc pulvinar sapien et ligula. Odio aenean sed adipiscing diam donec adipiscing. Ultrices dui
        sapien
        eget mi proin sed libero enim. Praesent tristique magna sit amet. Quam adipiscing vitae proin sagittis nisl
        rhoncus
        mattis. Magna eget est lorem ipsum dolor sit. Ut faucibus pulvinar elementum integer enim neque volutpat.
        Pellentesque
        habitant morbi tristique senectus et netus. Massa id neque aliquam vestibulum morbi blandit cursus. Facilisi
        morbi
        tempus iaculis urna id. Gravida cum sociis natoque penatibus et. Odio euismod lacinia at quis risus sed
        vulputate
        odio
        ut. Vitae nunc sed velit dignissim sodales ut eu.
    </p>

    <p>
        Consequat nisl vel pretium lectus. Etiam dignissim diam quis enim. Consequat id porta nibh venenatis. Nisl purus
        in
        mollis nunc sed id semper risus. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Morbi
        tincidunt
        augue interdum velit euismod. Nisl rhoncus mattis rhoncus urna neque. Tincidunt praesent semper feugiat nibh sed
        pulvinar. Quisque non tellus orci ac auctor augue mauris. Risus in hendrerit gravida rutrum. Fermentum odio eu
        feugiat
        pretium. Justo laoreet sit amet cursus sit. Dapibus ultrices in iaculis nunc sed augue lacus viverra vitae.
    </p>

    <p>
        Eros donec ac odio tempor orci dapibus ultrices. Non arcu risus quis varius quam quisque id diam vel. Varius
        duis at
        consectetur lorem donec massa sapien. Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida.
        Egestas
        congue quisque egestas diam in arcu. Aliquam sem fringilla ut morbi tincidunt augue interdum velit. Et netus et
        malesuada fames ac turpis egestas integer. Pellentesque habitant morbi tristique senectus et netus et malesuada.
        Euismod
        nisi porta lorem mollis. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Montes nascetur ridiculus
        mus
        mauris vitae. Sagittis nisl rhoncus mattis rhoncus urna. Habitasse platea dictumst quisque sagittis. Donec
        pretium
        vulputate sapien nec sagittis aliquam malesuada. Malesuada proin libero nunc consequat interdum varius. Senectus
        et
        netus et malesuada fames ac turpis. Etiam erat velit scelerisque in. Varius morbi enim nunc faucibus a
        pellentesque.
        A
        arcu cursus vitae congue mauris rhoncus aenean. Phasellus vestibulum lorem sed risus ultricies tristique.
    </p>

    <p>
        Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Pretium fusce id velit ut tortor pretium.
        Convallis convallis tellus id interdum velit. Ullamcorper velit sed ullamcorper morbi tincidunt. Lacinia quis
        vel
        eros
        donec ac odio tempor orci dapibus. In ornare quam viverra orci sagittis eu volutpat odio. Neque ornare aenean
        euismod
        elementum nisi. Lacinia at quis risus sed vulputate odio. Aliquam ut porttitor leo a diam sollicitudin tempor id
        eu.
        Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien.
    </p>

    <p>
        Ut etiam sit amet nisl purus in mollis. Duis convallis convallis tellus id interdum velit laoreet id donec. Sed
        velit
        dignissim sodales ut. Amet nisl suscipit adipiscing bibendum est ultricies integer quis. Quis lectus nulla at
        volutpat
        diam ut venenatis tellus in. Arcu dictum varius duis at consectetur lorem donec. Phasellus vestibulum lorem sed
        risus
        ultricies tristique. Tempor nec feugiat nisl pretium fusce id. Mattis aliquam faucibus purus in massa tempor.
        Lacus
        suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Ac feugiat sed lectus vestibulum mattis
        ullamcorper
        velit sed. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Quisque non tellus orci ac auctor
        augue
        mauris. Malesuada proin libero nunc consequat. Duis ut diam quam nulla porttitor massa id neque.
    </p>
</div>
</body>
</html>
